<% include ../partials/headerProfessor %>
<div class="container" >
    <header>
        <div class="row" >
            <div class="col s12"  >
                <h3 class="flow-text" >
                    <i class="material-icons left" >assignment</i>
                    <%- exercicio.nome %>
                </h3>
            </div>
        </div>
    </header>
    <main>
        <section >
            <div id="exercicio" >
                <div class="row" >
                    <% if(resultados.length > 0) { %>

                            <div class="row">
                                <div class="col s12">
                                    <table class="highlight centered responsive-table" style="display: block; overflow-x: auto; white-space: nowrap;">
                                        <thead>
                                            <th>Alunos</th>
                                            <% exercicio.questoes.forEach(function(questao, index) { %>
                                                <th>Questão #<%- index+1 %></th>                               
                                            <% }) %>
                                        </thead>
                                        <tbody id="finalizado" >
                                            <% resultados.forEach(function(resultado) { %>
                                                <tr>
                                                    <td><%- resultado.nome %></td>
                                                    <% resultado.questoes.forEach(function(questao) { %>
                                                        <td>
                                                            <i class="material-icons <%- questao.acertou ? 'green' : 'red'  %>-text" >
                                                                <%- questao.acertou ? 'done' : 'clear'  %>
                                                            </i>
                                                        </td>
                                                    <% }) %>                                                
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    <% } else { %>
                        <%- include('../partials/messages', {message: 'Nenhuma estatistica! :(', color: 'orange lighten-2' }); %>
                    <% } %>
                </div>
            </div>
        </section>  
    </main>
</div>
<% include ../partials/footerProfessor %>