<% include ../partials/headerAluno %>
<div class="container" >
    <header>
        <div class="row" >
            <div class="col s12"  >
                <h3 class="flow-text" >                    
                    <i class="material-icons left" >playlist_play</i>Sala
                </h3>
            </div>
        </div>
    </header>
    <section>
        <section>
            <pre id="chat"></pre>
            <input type="text" id="msg" placeholder="Mensagem" >
            <button type="button" onclick="enviar();">Enviar</button>
        </section>
    </section>
        <header>
            <div class="row" >
                <div class="col s12"  >
                    <h3 class="flow-text" ><i class="material-icons left" >assignment</i><%- exercicio.nome %><span class="new badge" data-badge-caption="Questões">
                        <span id="questaoAtual">1</span>
                        <span>/</span>
                        <span id="quantidadeQuestao"><%- quantidade_exercicio %></span>
                    </h3>
                </div>
            </div>
        </header>
        <main>
        <section >
            <div id="exercicio" >
                <%- include('../partials/messages', {message: 'Nenhuma questão cadastrada! :(', color: 'orange lighten-2' }); %>
            </div>
            <div class="row" >
                <div class="col s12" >
                    <a id="responder" class="waves-effect waves-light btn right left-20" data-proximo="1"><i class="material-icons left">check</i>Responder</a>
                </div>
            </div>
        </section>  
    </main>
</div>


<script>    
    const alunoQuestoes = <%- JSON.stringify(questoes) %>;
</script>
</div>
<script src="/socket.io/socket.io.js" ></script>
<script>
    const socket = io();
    const sala = '<%- sala %>';
    socket.emit('create-room', sala);
    socket.on('send-client', (msg) => {
        console.log(msg);
        console.log(document.getElementById('chat'));
        document.getElementById('chat').innerHTML += msg;
    });
    const enviar = () => {    
        const msg = document.getElementById('msg').value;
        socket.emit('send-server', sala, msg);
    };
</script>
<% include ../partials/footerAluno %>