<% include ../partials/headerAluno %>
<div class="container" >
    <header>
        <div class="row" >
            <div class="col s12"  >
                <h3 class="flow-text" >                    
                    <i class="material-icons left" >playlist_play</i>Sala
                </h3>
            </div>
        </div>
    </header>
    <section>
    <section>
        <pre id="chat"></pre>
        <input type="text" id="msg" placeholder="Mensagem" >
        <button type="button" onclick="enviar();">Enviar</button>
    </section>
</section>
        <header>
            <div class="row" >
                <div class="col s12"  >
                    <h3 class="flow-text" ><i class="material-icons left" >assignment</i><%- exercicio.nome %><span class="new badge" data-badge-caption="Questões">
                        <span id="questaoAtual">1</span>
                        <span>/</span>
                        <span id="quantidadeQuestao"><%- quantidade_exercicio %></span>
                    </h3>
                </div>
            </div>
        </header>
        <main>
        <section >
            <div id="exercicio" >
                <%- include('../partials/messages', {message: 'Nenhuma questão cadastrada! :(', color: 'orange lighten-2' }); %>
            </div>
            <div class="row" >
                <div class="col s12" >
                    <a id="responder" onclick="responder(this)" class="waves-effect waves-light btn right left-20" data-proximo="1"><i class="material-icons left">check</i>Responder</a>
                </div>
            </div>
        </section>  
    </main>
</div>

</div>
<script src="/socket.io/socket.io.js" ></script>
<script src="/javascripts/app/domain/Alunos/AlunoQuestao.js" ></script>
<script src="/javascripts/app/domain/Alunos/AlunoQuestoes.js" ></script>
<script src="/javascripts/app/controllers/AlunoController.js" ></script>
<script src="/javascripts/app/ui/views/ExercicioAlunoView.js"></script>
<script>
    const socket = io({transports: ['websocket'], upgrade: false});
    const sala = '<%- sala %>';
    const alunoQuestoes = <%- JSON.stringify(questoes) %>;
    const alunoController = new AlunoController();
    const usuario = '<%- email %>';
    alunoController.adiciona(alunoQuestoes);
    socket.emit('create-room', sala);
    socket.on('send-client', (msg) => {
        document.getElementById('chat').innerHTML += msg;
    });
    const responder = (btnResponder) => {
        btnResponder.classList = "waves-effect waves-light btn right left-20 hide";
        const selecionado = document.querySelector('#opcoes input[type="radio"]:checked').value;
        alunoController.reponder(selecionado).then( (response) => {
            const toastHTML = `<span class="white-text"><b>${response.message}<b></span>`;
            const toastClass = response.resposta == 1 ? 'green' : 'red';
            M.toast({html: toastHTML , classes: toastClass, displayLength: 1500, completeCallback : alunoController.proximo() })
            const { questao, resposta } = response;
            socket.emit('responder', sala, usuario, questao, resposta );
            return { selecionado : selecionado, acerto : resposta };
        }).then( (response) => {
            alunoController.salva(response);
        });
    };
    const enviar = () => {    
        console.log('sala chat', sala);
        const msg = document.getElementById('msg').value;
        socket.emit('send-server', sala, msg);
    };
</script>
<% include ../partials/footerAluno %>