<% include ../partials/headerProfessor %>

<div id="actions" >
    <div class="row" >
        <div class="col s12" >
            <h1 class="flow-text" ><i class="material-icons left">group</i>Salas</h1>
            <div class="divider" ></div>
        </div>
    </div>
</div>
<section class="top-20">
    <div class="row" >
        <div class="col s12">
            <ul>
                <li><a href="/sala/criar" class="waves-effect waves-light btn left"><i class="material-icons left">add</i>Adicionar</a></li>
            </ul>
        </div>
    </div>
    <div class="row" >
        <% if(salas.length > 0){ %>
            <% salas.forEach(function(sala) { %>
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-content">
                        <a href="/sala/<%- sala.id %>/editar" ><span class="card-title activator grey-text text-darken-4"><%- sala.nome %></span></a>
                        </div>
                        <div class="card-action">
                            <form action="/sala/<%- sala._id %>?_method=delete" method="post" onsubmit="return antesExcluir(this, event)" >
                                <a href="/sala/<%- sala._id %>/editar" class="grey-text lighten-2 left top-2" ><i class="material-icons">edit</i>Editar</a>
                                <button class="btn-flat waves-effect waves-light red-text font-15 fix-delete" ><i class="material-icons">delete</i>Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <%- include('../partials/messages', {message: 'Nenhuma sala cadastrada! :(', color: 'red darken-3' }); %>
        <% } %>
    </div>
</section>
<section>
    <div class="col s12" >
        <div class="fixed-action-btn">
            <a id="add"  href="/sala/criar" class="btn-floating btn-large waves-effect waves-light blue lighten-2">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, []);
  });
</script>
<% include ../partials/footerProfessor %>