<% include ../partials/headerProfessor %>
<div class="container" >
    <header id="actions" >
        <div class="row" >
            <div class="col s12 buttons top-20" >           
                <a class='btn grey lighten-4 btn-small' href='/sala/criar' >
                    <i class="material-icons center black-text lighten-2">add
                    </i>
                </a>
                <a class='dropdown-trigger btn grey lighten-4 btn-small' href='#' data-target='select-options'>
                    <i class="material-icons center black-text lighten-2">check_box_outline_blank
                    </i>
                </a>
                <a class='dropdown-trigger btn grey lighten-4 btn-small' href='#' data-target='action-options'>
                    <i class="material-icons center black-text lighten-2">more_vert
                    </i>
                </a>
              
                <ul id='select-options' class='dropdown-content blue-text lighten-2 flow-text'>
                    <li><a class="black-text lighten-2" href="/sala/criar"><i class="material-icons">done_all</i>Todos</a></li>
                    <li><a class="black-text lighten-2" href="#!"><i class="material-icons">clear_all</i>Nenhum</a></li>
                </ul>
              
                <ul id='action-options' class='dropdown-content blue-text lighten-2 flow-text'>
                    <li><a class="black-text lighten-2" href="/sala/criar"><i class="material-icons">archive</i>Arquivar</a></li>
                    <li><a class="black-text lighten-2" href="#!"><i class="material-icons">remove_from_queue</i>Excluir Todas</a></li>
                    <li><a class="black-text lighten-2" href="#!"><i class="material-icons">stop_screen_share</i>Finalizar Aula</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="top-20">
        <div class="row">
            <% salas.forEach(function(sala) { %>
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <i class="material-icons left grey-text lighten-2">local_library</i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 truncate"><%- sala.nome %><i class="material-icons right">more_vert</i></span>
                            <p><a href="#"> <i class="material-icons left blue-text lighten-2">trending_up</i>Visualizar Sala</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4 truncate"><%- sala.nome %><i class="material-icons right">close</i></span>
                            <form action="/sala/<%- sala._id %>?_method=delete" method="post" >
                                <a href="/sala/<%- sala.id %>/editar" class="btn-floating btn-large waves-effect waves-light grey btn-small tooltipped" data-position="bottom" data-tooltip="Editar"><i class="material-icons">edit</i></a>
                                <a href="/sala/<%- sala.id %>/editar" class="btn-floating btn-large waves-effect waves-light blue btn-small tooltipped" data-position="bottom" data-tooltip="Disponibilizar"><i class="material-icons">share</i></a>
                                <button class="btn-floating btn-large waves-effect waves-light red btn-small tooltipped" data-position="bottom" data-tooltip="Remover"><i class="material-icons">remove</i></button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    <section>
        <div class="col s12" >
            <div class="fixed-action-btn">
                <a id="add"  href="/sala/criar" class="btn-floating btn-large waves-effect waves-light blue lighten-2">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
    </section>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, []);
  });
</script>
<% include ../partials/footerProfessor %>